@import '../styles/mixins';

.root {
  font-size: 17px;
}

.weddings-layout {
  @include media-above-xs {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.image {
  float: left;
  user-select: none;
  margin-right: 1rem;
  height: var(--height);
  width: var(--width);
}

.paragraph {
  font-size: 1em;
  margin: 0 0 1.8rem;
  text-align: justify;

  &:empty {
    display: none;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.cite {
  font-style: italic;
}

.strong {
  font-weight: 700;
}

.link {
  color: #337ab7;
  text-decoration: none;
}

.h3 {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 500;
}

.ol,
.ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li + li {
    margin-top: 0.5rem;
  }

  p {
    // override text-align: justify for top level paragraphs
    text-align: left;
    margin-bottom: 1.1rem;
  }
}
