.row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: .5rem;

    &+& {
        margin-top: .5rem;
    }
}

.photo {
    // prevent pixel rounding issues for aspect ratio
    height: 100%;
}