.row {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 0.5rem;

  & + & {
    margin-top: 0.5rem;
  }
}

.photo {
  // prevent pixel rounding issues for aspect ratio
  height: 100%;
  user-select: none;
  transition: filter 80ms ease-in;

  &:hover {
    filter: brightness(0.7);
  }
}
