.root {
    position: sticky;
    top: 0;
    height: 3rem;
    background-color: #f7f9fa;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
    text-align: center;
    color: #000;
}

.links-list {
    margin: 0;
    padding: 0;
    list-style: none;
}