@import '../styles/mixins';

$header-height: 3rem;

.root {
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  height: $header-height;
  color: #6f6f6f;
  background-color: #f7f9fa;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: #000;

  @include media-above-sm {
    position: static;
    height: auto;
    box-shadow: none;
    background: inherit;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include media-above-sm {
    flex-direction: column;
  }
}

.links-list {
  position: fixed;
  top: calc(#{$header-height} + 3px);
  left: 0;
  width: 60%;
  height: calc(100% - #{$header-height} - 3px);

  margin: 0;
  padding: 0;

  list-style: none;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  background-color: #f9fafb;
  border-top-right-radius: 5px;

  transform: translateX(-100%);
  transition-property: transform;

  @include media-above-sm {
    display: flex;
    justify-content: space-around;
    position: static;
    // override mobile transition
    transform: none !important;
    width: 750px;
    height: auto;
    margin: 0 auto;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
  }
}

.link {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #6f6f6f;
  letter-spacing: 2px;

  text-align: left;
  padding: 1em 2em;

  &-active,
  &:hover {
    color: #000;
  }

  &-menu {
    font-size: 13px;
    display: block;
    width: 100%;
  }

  @include media-above-sm {
    padding: 0;
  }
}

.logo {
  @include media-above-sm {
    margin-bottom: 1.642rem;
  }
}

.menu-button {
  padding: 0 1rem;
  position: absolute;
  left: 0;

  @include media-above-sm {
    display: none;
  }
}
