@import '../styles/mixins';

$logoOffset: 30;

html,
body {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(44, 43, 43);
  background: #fff;
  line-height: 1.42857143;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.root {
  padding: 0 1rem 1rem;
  box-sizing: content-box;
  max-width: 800px;
  margin: 0 auto;

  @include media-above-sm {
    padding-top: 2rem;
  }

  @include media-above-md {
    padding-top: 4rem;
    padding-left: calc(14.71428rem + #{$logoOffset}* 2px);
    padding-right: $logoOffset * 1px;
  }

  $num: $screen-md;
  $offset: 10;

  @while $num < $screen-lg + $offset {
    @media (min-width: $num * 1px) and (max-width: $num + $offset*1px) {
      margin-left: ($num * 1px - $screen-md) / 4;
    }

    $num: $num + $offset + 1;
  }

  @include media-above-lg {
    padding-right: calc(14.71428rem + #{$logoOffset}* 2px);
  }
}

.header {
  box-sizing: border-box;
  margin: 0 -1rem 1rem;

  @include media-above-sm {
    margin: 0 0 1.2857rem;
  }

  @include media-above-md {
    margin-bottom: 2.285714rem;
  }
}

.main {
  box-sizing: border-box;
}

.gutter {
  @include media-above-sm {
    padding: 0 4.3571rem;
  }
}

/* PT Sans regular */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/PTSans-Regular-latin.woff2') format('woff2'),
    url('../fonts/PTSans-Regular-latin.woff') format('woff');
}

/* PT Sans bold */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/PTSans-Bold-latin.woff2') format('woff2'),
    url('../fonts/PTSans-Bold-latin.woff') format('woff2');
}

/* PT Sans italic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans Italic'), local('PTSans-Italic'),
    url('../fonts/PTSans-Italic-latin.woff2') format('woff2'),
    url('../fonts/PTSans-Italic-latin.woff') format('woff');
}

/* PT Sans bold italic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url('../fonts/PTSans-BoldItalic-latin.woff2') format('woff2'),
    url('../fonts/PTSans-BoldItalic-latin.woff') format('woff');
}

/* Stein Antik regular */
@font-face {
  font-family: 'SteinAntik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Stein Antik'), local('SteinAntik'),
    url('../fonts/SteinAntik-Regular-latin.woff2') format('woff2'),
    url('../fonts/SteinAntik-Regular-latin.woff') format('woff');
}

/* Stein Antik bold */
@font-face {
  font-family: 'SteinAntik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Stein Antik Bold'), local('SteinAntikBold'),
    url('../fonts/SteinAntik-Bold-latin.woff2') format('woff2'),
    url('../fonts/SteinAntik-Bold-latin.woff') format('woff');
}
