html,
body {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;

    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    min-width: 320px;
    margin: 0;
    padding: 0;
}

body {
    color: #2c2b2b;
    background: #fff;
    position: relative;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main-content {
    padding: 1rem;
}