.social-link {
  /* override font-awesome specific sizes */
  width: 30px !important;

  height: 31px;
  margin-top: -2px;
  color: #2c2b2b;

  &:hover {
    color: darken(#2c2b2b, 10%);
  }
}

.facebook-link {
  height: 30px;
}

.instragram-link {
  position: relative;
  top: 1px;
}
